@use '../base' as *;

/* -------------------------------- 

File#: _1_hero
Title: Hero
Descr: A full-width callout section
Usage: codyhouse.co/license

-------------------------------- */

.hero {
  	// if bg = img
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	width: calc(100% - 2* var(--component-padding));
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	&.hero-first{
		@include breakpoint(md) {
			height: 450px;
		}
	}
	&.hero-margin-bottom{
		margin-bottom: 40px;
	}
	  
	&.hero-full{
		width: 100%;
		p{
			color: #fff;
			font-size: 16px;
			margin-top: 20px;
		}
		.btn--primary{
			background-color: #2A2F33;
		}
	}
p{
	b{
		font-weight: 600;
	}
}

&.hero-left{
	
	.main-text-hero{
		position: relative;
		bottom: 20px;
		left: 0px;
		p{
			color: #fff !important;
			padding: 0 !important;
		}
		@include breakpoint(md) {
			position: absolute;
			bottom: 50px;
			left: 50px;
		}
	}
	
	
}
&.hero-right{
	margin-bottom: 30px;
	.main-text-hero{
		position: absolute;
		right: 5%;
	}
	@include breakpoint(md) {
		
	}
}
 
  &.hero-black{
	  color: #fff;
	  
	  h1{color: #fff;margin-bottom: 20px;}
  }
  &.banner-color{
	  background-color: rgba(185, 200, 206, 0.3);
	  margin-bottom: 40px;
	  h3{
		  margin-bottom: 40px;
	  }
  }
  &.banner-home-charriol {
	background-color: #f6f4f5;
	background-image: url("../img/banner-desktop-charriol-h.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	height: 350px;
		.main-charriol {
		  display: flex;
		  height: 100%;
		  align-items: center;
		  text-align: center;
		  width: 90%;
		  padding: 0 2%;
		  
		  .main-figure-banner {
			width: 25%;
			img {
				width: 300px;
				padding: 0 2%;
			  }
		  }
		  .main-charriol-text {
			width: 65%;
			h3{
				margin-bottom: 40px;
				font-weight: 400;
				font-size: 33px;
				
			}
		  }
		 
		}
  }
  
}

.hero.banner-light{
	h3{
		margin-bottom: 20px;
	}
}


// --overlay-layer
.hero--overlay-layer {
  &::after { // add a layer in between the img/video background and the content
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: alpha(var(--color-bg), 0.8);
	z-index: 1;
  }
}
.hero-why{
	h3{
		color: #fff;
		margin-bottom: 20px;
	}
	p{
		color: #fff;
	}
}

@media only screen and (max-width: 900px) {
  .hero.banner-home-charriol {
	background-position: 0 0;
	width: 100%;
	height: 508px;
	margin-top: 0px;
	background-image: url("../img/banner-charriol-mob.jpg");
  }
  .hero.banner-home-charriol .main-charriol {
	align-items: flex-start;
	width: 95%;
	padding: 0 2%;
	margin: 0 auto;

	flex-wrap: wrap;
  }
  .hero.banner-home-charriol .main-charriol .main-figure-banner {
	width: 100%;
  }
  .hero.banner-home-charriol .main-charriol .main-charriol-text {
	width: 100%;
	position: relative;
	margin-top: -192px;
  }
  .hero-home{
	  h1.mob{display:none;}
  } 
}
@include breakpoint(md) {
	.hero-home{
		h1.desk{display:none;}
	}
}

@media only screen and (max-width: 500px) {
  
 
  .hero.banner-home-charriol {
	background-position: 0 0;
	width: 95%;
	height: 560px;
	margin: 0px auto;
	.main-charriol{
		padding: 0;
		width: 100%;
	}
  }
  
  .hero.banner-home-charriol .main-charriol .main-figure-banner img {
	  width: 145px;
	  padding: 0%;
	  position: relative;
	  top: -200px;
  }

  .hero.banner-home-charriol .main-charriol .main-charriol-text {
	margin-top: -200px;
	a.btn.btn--primary {
		top: 200px;
		background-color: #fff;
		color: var(--color-primary);
		font-size: 18px;
	}
  }
  .hero.banner-home-charriol .main-charriol h3 {
	font-size: 28px;
  }
  
  .hero.hero-home{
	  height: 400px;
	  overflow: visible;
	  background-image: url(../img/banner-home-mob.jpg) !important;
	  
	  .main-text-hero {
		  margin-top: 390px;
		  position: relative;
		  h1{
			  text-align: center;
		  }
		  p{
			  color: var(--color-primary);
			  padding: 20px 0;
			  text-align: center;
			  font-size: 15px;
			  font-weight: 300;
		  }
	  }
  }
  
}

@media only screen and (max-width: 500px) {
	.hero.banner-home-charriol .main-charriol .main-charriol-text h3 {
		font-size: 25px;
		font-weight: 500;
	}
}
.hero.hero-faq{
	background-image: url('/assets/img/banner-faq-mob.jpg')!important;

	@include breakpoint(md) {
		background-image: url('/assets/img/banner-faq.jpg')!important;
	}
}