@use '../base' as *;
@use '_1_off-canvas-content.scss' as *;
@use '_1_anim-menu-btn.scss' as *;

/* -------------------------------- 

File#: _2_off-canvas-navigation
Title: Off-Canvas Navigation
Descr: An off-canvas section containing the main navigation
Usage: codyhouse.co/license

-------------------------------- */
.offnav{
	justify-content: left;
	text-align: left;
	position: relative;
	top: 30px;
	padding-left: 30px;
	.login-h a{
		color: #fff;
	}
	a.btn.btn--primary.btn-border.btn--icon {
		border: 1px solid #fff;
		font-size: 1em;
	}
}
// navigation control
.offnav-control { // variation of the Animated Menu Button component
  --anim-menu-btn-size: 48px;
  // 🍔 icon
  --anim-menu-btn-icon-size: 24px;
  --anim-menu-btn-icon-stroke: 2px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: var(--z-index-fixed-element, 10); 
  border-radius: 50%;
  transition: transform .3s var(--ease-in-out);
  color: var(--color-primary); // icon color

  &.anim-menu-btn--state-b {
	transform: rotate(180deg);
	color: #fff;
  }
}

.offnav-control__bg { // SVG used to set background color and animated stroke
  display: block;
  fill: var(--color-bg-light); // button background color
  stroke-width: 1.5;
  stroke: var(--color-contrast-lower); // stroke color
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offnav-control--ready-to-animate circle {
  transition: stroke-dashoffset 0.3s 0s;
}

.anim-menu-btn--state-b.offnav-control circle {
  stroke-dashoffset: 0;
  transition-delay: 0.3s;
}

// off-canvas navigation
.offnav {
	.logo-menu-mob{
		padding-bottom: 30px;
		
	}
}

.offnav__link {
  color: #fff;
  text-decoration: none;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent 60%, alpha(var(--color-primary), 0.2) 60%);
  will-change: background-size;
  transition: background-size .3s var(--ease-in-out), color .3s;
  text-transform: uppercase;
  font-size: 1.3em;
  &:hover, &[aria-current="page"], &.offnav__link--current {
	color: #fff;
  }

  &:hover {
	background-size: 100% 100%;
  }
}

.offnav__a11y-close-btn { // accessible close button - sr and keyboard
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--z-index-fixed-element, 10); 
  padding: var(--space-sm) var(--space-md);

  &:focus {
	// show
	clip: auto;
	clip-path: none;
	outline: 3px solid var(--color-primary);
  }
}

@include breakpoint(md) {
	.offnav-control {display:none;}
  .offnav__label { // - navigation
	&::before {
	  content: '';
	  display: inline-block;
	  width: 2em;
	  height: 1px;
	  background-color: currentColor;
	  vertical-align: middle;
	  margin-right: 0.5em;
	}
  }

  .offnav__subnav {
	border-top: 1px solid var(--color-contrast-lower);
  }
}