<!-- SIMPLE NEWS -->
@@if(context.hero) {

<!-- BIG IMAGE -->
<article class="story col-8@md">
    <a class="story__img radius-lg"
    href="@@href">
    <figure class="figure-post-big">
        <img src="@@img"
        alt="@@title">
    </figure>
    </a>

    <div class="story__content">

    <div class="text-component">
        <h3 class="story__title margin-bottom-md">
        <a href="@@href">@@title</a>
        </h3>
        @@if(context.category) {
        <p class="article__category">@@category</p>
        }
        <p>@@excerpt...
        </p>
        <a href="@@href" class="link"> READ
        MORE</a>
    </div>

    </div>
</article> <!-- /ITEM ARTICLE -->
}

@@if(!context.hero) {
    <article class="story col-4@md">
        <a class="story__img radius-md" href="@@href">
        <figure class="aspect-ratio-4:3">
            <img src="@@img" alt="@@title">
        </figure>
        </a>

        <div class="story__content">

        <div class="text-component">
            <h3 class="story__title margin-bottom-md">
            <a href="@@href">@@title</a>
            </h3>
            @@if(context.category) {
                <p class="article__category">@@category</p>
            }
            <p>@@excerpt …</p>
            <a href="@@href" class="link"> READ MORE</a>
        </div>
        </div>
    </article> <!-- /ITEM ARTICLE -->
}

